body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1F2937;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 0 20%;

    background-color: #1F2937;
    border: 0.25rem solid red;

    gap: 7rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 0.25rem solid orange;
    color: #E5E7EB;
    gap: 1rem;
}

.logo {
    margin-right: auto;
    width: auto;
    height: 3rem;

    /*font-size: 24px;*/
    /*color: #F9FAF8;*/
}

.hero {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-evenly;

    padding: 0 20%;
    border: 0.25rem solid green;
    gap: 1rem;
}

.herotext {
    border: 0.25rem solid purple;
    width: 30rem;
    height: auto;
    margin: 1rem;
}

.herotext h2 {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
    margin: 0;
}

.herotext p {
    font-size: 16px;
    color: #E5E7EB
}

.lostarkimage {
    border: 4px solid purple;
    width: 21rem;
    height: auto;
}

.signup {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 500;

    padding-inline: 30px;
    padding-block: 7px;
    margin: 5px;

    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 7px;
}


